include basic/head
    title main | Social Network
body
    div.container
        div.col-xs-4.col-xs-offset-4
            if user
                a.btn-link(href="/profile/"+ user.username)
                    h2.text-center.h2 Profile
            a.btn-link(href="/login")
                h2.text-center.h2 Log in
            br
            a.btn-link(href="/signup")
                h2.text-center.h2 Sign up