include ../basic/head
    title= user.username + ' | Guest book'
body
    div.jumbotron
        div.container
            div.row
                //
                    Start menu
                div.col-xs-2.left
                    include ../basic/menu
                //
                    end menu
                //
                    Start profile
                div.row
                    div.col-xs-9
                        h2.h2.text-center.text-capitalize= user.username
                        if anotherUser.username
                            h3.h3.text-center= anotherUser.username + ' записи'
                        else
                            h3.h3.text-center= 'Мои записи:'